<form action="/Cars" method="post">
  <label for="makeModel">Add a new Car</label>
  <input id="makeModel" name="makeModel" type="text"><br>
  <label for="miles"> Add the mileage</label>
  <input id="miles" name="miles" type="number"><br>
  <label id="price"> Add the price of the Car</label>
  <input for="price" name="price" type="number"><br>
  <button type="submit">Submit</button>
</form>