<form action="/items" method="post">
  <label for="description">Add a new Car</label>
  <input id="description" name="description" type="text"><br>
  <label for="miles"> Add the mileage</label>
  <input id="miles" name="miles" type="number"><br>
  <label id="prices"> Add the price of the Car</label>
  <input for="prices" name="prices" type="number"><br>
  <button type="submit">Submit</button>
</form>